@import url("https://fonts.googleapis.com/css2?family=Fredoka:wght@300;400;500;600;700&display=swap");

.App,
body {
	text-align: center;
	font-family: "Fredoka";
	background-color: #e7b5ac;
	font-weight: 800;
}
button {
	background: none;
	color: inherit;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;
}

ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
}

fieldset {
	border: 0;
}

/* .App-header {
	background-color: #282c34;
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	font-size: calc(10px + 2vmin);
	color: white;
}

.banner {
	display: flex;
	font-weight: 900;
	min-height: 2vh;
	font-size: calc(30px + 5vmin);
	font-weight: 800;
	color: #588061;
	margin: 0% 20%;
	padding: 50px 10px;
	background-color: #e7b5ac29;
	border-radius: 12px;
}

.banner:hover {
	color: #869f77;
}

.banner-sm {
	display: flex;
	justify-content: left;
	text-align: left;
	font-weight: 900;
	min-height: 1vh;
	font-size: calc(10px + 4vmin);
	font-family: "Fredoka One", cursive;
	color: #588061;
	background-color: #e7b5ac;
	border-bottom: 2px solid #58806141;
}

.banner-sm:hover {
	color: #869f77;
	background-color: #e7b5acea;
}

.logo-link {
	text-decoration: none;
	color: inherit;
}
.burger,
.logo {
	text-align: center;
	font-family: "Fredoka One";
	padding-left: 2%;
}

.wrapper {
	margin: auto 18%;
}

.main_wrapper {
	margin: auto 8%;
	bottom: -1%;
}

.ad p {
	border-radius: 12px;
	padding: 1em;
}

.true {
	width: 100%;
	height: auto;
	color: black;
	background-color: #588061;
}

.false {
	width: 100%;
	height: auto;
	color: black;
	background-color: #f55e5e;
}

.vote_wrapper {
	display: flex;
	justify-content: center;
	background-color: rgba(255, 255, 255, 0.451);
}

fieldset {
	border: 0;
}

.footer {
	width: 100%;
	position: fixed;
	bottom: -1%;
	left: 0px;
	z-index: 1;
	transition: top 0.3s;
}
.footer img {
	height: auto;
	width: 100%;
	filter: sepia(30%);
	max-height: 120px + 1vmin;
	z-index: -1;
}

/* .navLink {
	text-decoration: none;
	margin: 0% 1%;
	padding: 0% 2%;
	font-size: 1rem;
	background: rgba(255, 255, 255, 0.256);
	color: #588061;
	font-family: "Fredoka One", cursive;

	border-radius: 4px;
} */
/* .navLink:hover {
	color: rgba(255, 255, 255, 0.874);
	outline: black;
	background: #588061;
	transition: transform 900ms, background 1550ms;
} */
/* 
.login-form {
	margin: 5%;
	display: flex;
	position: absolute;
	justify-content: center;
	font-family: "Fredoka One", cursive;
	color: #588061;
	width: auto;
	left: 0;
	right: 0;
	top: 0;
}

.text-input {
	border: 2px solid #58806179;
	border-radius: 4px;
	padding: 5px;
	margin: 5px;
	font-family: "Fredoka One", cursive;
	font-size: 1rem;
	background-color: #fffffff7;
	text-align: center;
}

.login-btn {
	margin: 8%;
	padding: 0.2em;
	background-color: #ffffff91;
	color: rgba(0, 0, 0, 0.656);
	border-radius: 4px;
	font-family: "Fredoka One", cursive;
	border: 0;
	cursor: pointer;
	border: 2px solid #282c34;
}

.login {
	position: relative;
}

.input-value {
	padding: 0px;
}

.burger {
	padding-right: 2px;
	margin: 0;
}

.error-msg {
	color: #f55e5e;
	font-size: 0.8rem;
	font-family: "Fredoka One", cursive;
	text-align: center;
}

.landing-btn:hover {
	color: rgba(255, 255, 255, 0.874);
	outline: black;
	background: #5880619a;
	transition: transform 900ms, background 1550ms;
}
.reg {
	background-color: #ffffff91;
}
.reg:hover {
	color: rgba(0, 0, 0, 0.656);
	outline: black;
	background: #282c3468;
	transition: transform 900ms, background 1550ms;
}
.landing-btn p {
	text-decoration: none;
}

ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
}

.users-list li {
	margin: 0.4em;
} */
