@import url("https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap");

.App,
html {
  text-align: center;
  font-family: Arial, Helvetica, sans-serif, Geneva, Tahoma, sans-serif;
  background-color: #fde9ea;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.banner {
  font-weight: 900;
  min-height: 2vh;
  font-size: calc(30px + 5vmin);
  font-family: "Fredoka One", cursive;
  color: #588061;
  margin: 2% 20%;
  padding: 10px 10px;
  background-color: #e7b5ac6e;
  border-radius: 12px;
}

.banner:hover {
  color: #869f77;
}

.wrapper {
  margin: auto 12%;
}

.ad {
  margin: 2% auto;
  overflow: hidden;
  background-color: #e7b5ac;
  border-radius: 1rem;
  width: 100%;
  height: auto;
  font-family: Arial, Helvetica, sans-serif;
}
.ad a {
  color: inherit;
  text-decoration: none;
}

.ad h1 {
  color: #282c34ef;
  font-size: calc(6px + 2vmin);
}

.ad h1:hover {
  color: #282c3498;
}

img {
  width: 12rem;
}

.ad p {
  margin: 2rem;
  border: 2px solid black;
  padding: 2rem;
}

button {
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit;
  padding: 20px;
}

.deal {
  color: black;
  padding: 2px 20px;
  border-radius: 20px;
  background-color: #e7b5ac;
}

.nodeal {
  color: black;
  padding: 2px 20px;
  border-radius: 20px;
  background-color: #588061;
}

.vote_wrapper {
  display: flex;
  justify-content: center;
  flex-direction: row;
}

.footer {
  width: 100%;
  position: fixed;
  bottom: -1%;
  left: 0px;
}
.footer img {
  height: auto;
  width: 100%;
  filter: sepia(30%);
  max-height: 120px + 1vmin;
}
