@import url("https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap");

.App,
html {
  text-align: center;
  font-family: Arial, Helvetica, sans-serif, Geneva, Tahoma, sans-serif;
  background-color: #fde9ea;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.banner {
  font-weight: 900;
  min-height: 2vh;
  font-size: calc(30px + 5vmin);
  font-family: "Fredoka One", cursive;
  color: #588061;
  margin: 2% 20%;
  padding: 10px 10px;
  background-color: #e7b5ac6e;
  border-radius: 12px;
}

.banner:hover {
  color: #869f77;
}

.wrapper {
  margin: auto 18%;
}

.main_wrapper {
  margin: auto 8%;
  bottom: -1%;
}

.ad {
  margin: 2% auto;
  overflow: hidden;
  background-color: #e7b5ac;
  border-radius: 1rem;
  width: 100%;
  height: 100%;
  font-family: Arial, Helvetica, sans-serif;
}
.ad a {
  color: inherit;
  text-decoration: none;
}

.ad h1 {
  color: #282c34ef;
  font-family: "Fredoka One";
  font-weight: 100;
  font-kerning: none;
  font-size: calc(2vh + 1vmin);
  padding: 12px 12px;
  background-color: #faf6ff82;
}

.ad h1:hover {
  color: #282c3498;
}

.ad h2 {
  background-color: #5880614a;
  color: #282c34;
  font-family: "Fredoka One";
}

.img-wrapper {
  border: 4px solid rgba(0, 0, 0, 0.003);
  border-radius: 12px;
  background-color: rgba(0, 0, 0, 0.611);
  display: flex;
  flex-direction: column;
  align-items: center;
  max-height: 100%;
  overflow: hidden;
  height: auto;
  margin: 0 12%;
}

.ad p {
  border-radius: 12px;
  padding: 1em;
}

button {
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit;
}

.true {
  width: 100%;
  height: auto;
  color: black;
  background-color: #588061;
}

.false {
  width: 100%;
  height: auto;
  color: black;
  background-color: #f55e5e;
}

.vote_wrapper {
  display: flex;
  justify-content: center;
  background-color: rgba(255, 255, 255, 0.451);
}

.param_wrapper {
  font-size: 1rem;
  padding: 1em;
  display: block;
  justify-content: center;
  background-color: #5880611f;
  border-radius: 12px;
  padding: 20px;
}

fieldset {
  border: 0;
}

.footer {
  width: 100%;
  position: fixed;
  bottom: -1%;
  left: 0px;
  z-index: 1;
  transition: top 0.3s;
}
.footer img {
  height: auto;
  width: 100%;
  filter: sepia(30%);
  max-height: 120px + 1vmin;
  z-index: -1;
}

.navBar {
  display: flexbox;
  flex-direction: row-reverse;
  justify-content: space-evenly;
}

.navLink {
  text-decoration: none;
  margin: 0% 1%;
  padding: 0% 2%;
  font-size: 1rem;
  background: #e7b5ac;
  color: black;
  border-radius: 8px;
}
.navLink:hover {
  color: darkred;
  background: beige;
  transition: transform 1500ms, background 1750ms;
}
